html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; /* Ensure no scrollbar if content fits */
  font-family: Arial, Helvetica, sans-serif;
}

#main{
    display:flex;
    height: 100%;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content ;
    height: 100%;
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 1px solid #ccc;
    justify-content: space-around;
  } 
  #sidebar h2 {
    text-align: center;
  }

  #playNameInput {
    height:20px;
  }
  .equipment {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    margin: 10px 0;
    padding: 5px;
    background-color: #dddddd00;
    text-align: center;
    cursor: grab;
    border-radius: 10%;
  }
  .equipment-text{
    width: fit-content;
    margin: 20px auto 0;
  }
  /* Specific style for the custom speaker triangle */
.custom-speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content; /* Adjust width to fit content */
}
.cq {
  border-bottom: 20px solid rgb(44, 43, 43);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 15px; /* Fixed width for the triangle */
  height: 0;
}
.vue{
  border-bottom: 10px solid rgb(44, 43, 43);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  width: 19px; /* Fixed width for the triangle */
  height: 0;
}

.vuePicContainer {
  width: 15px; /* Set the desired width */
  height: auto; /* Set the desired height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}
.vue8Pic{
  height: 25px; /* Maintain aspect ratio */
  user-select: none; /* Prevent text selection */
  filter: invert(1);
  outline: 1px;
  outline-color: black;
  outline-style: solid;
  border-radius: 10%;
  user-select: none;
}
.vueXL{
  border-bottom: 15px solid rgb(44, 43, 43);
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  width: 22px; /* Fixed width for the triangle */
  height: 0;
}
.mygg{
    border: #ccc;
    border-width: thin;
    border-style: dashed;
    grid-column: 1 / 4; /* Example placement for SH */
    grid-row: 1 / 3;     /* Example placement for SH */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
}
.equipment-container{
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Adds space between the items */
}

.container{
  display: flex;
  flex-direction: column;
  padding: 8px;

}

  .element{
    width: fit-content;
  }
  .dropped {
    display: flex;
    flex-direction: column; /* Stack icon and text vertically */
    align-items: center; /* Center the icon and text */
    position: relative;
    width: fit-content;
    text-align: center;
    user-select: none;
    gap:5px;
  }

  .stageContainer{
    flex: 1; /* Take remaining space */
    display: flex; /* Use flexbox to center stage */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: lightgray; /* Background color for the stage area */
    height: 100vh;
    width:100%;
    
  }  
  /* Stage (Canvas) */
  #stage {
    resize: both;
    position: relative;
    background-color: #ffffff;
    border: 2px solid #333;
    aspect-ratio: 1 / 1;
    height: 90vh;
    overflow: hidden;
  }
  #dropZone {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .draggable {
    position: absolute;
    cursor: move;
    user-select: none;
  }
  .rotatable {
    transform-origin: center;
  }
  #export {
    margin-top: 10px; /* Add some space above */
    padding: 10px; /* Button styling */
    background-color: #4CAF50; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer on hover */
    text-align: center; /* Center text */
    width: 100%; /* Full width of its container */
}

.slissa{
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* 10 equal columns */
    grid-template-rows: repeat(20, 1fr); /* 10 equal rows */
    width: 100%; /* Set the size of the square */
    height: 100%; /* Make it a square */ 
}
.sv{
    flex-direction: column;
    justify-content: space-around;
    width:15px;
    border: #ccc;
    border-width: thin;
    border-style: dashed;
    grid-column: 2 / 3; /* Example placement for SH */
    grid-row: 5 / 19;     /* Example placement for SH */
    display: flex;
    align-items: center;
}
.sh{
    flex-direction: column;
    justify-content: space-around;

    width:15px;
    border: #ccc;
    border-width: thin;
    border-style: dashed;
    grid-column: 19 / 19; /* Example placement for SH */
    grid-row: 5 / 19;     /* Example placement for SH */
    display: flex;
    align-items: center;
}
.op{
    color: #ccc;
}

@media print {
  #stage {
      background-color: white; /* Set white background for the stage in PDF */
  }
}

.line {
  position: absolute;
  border-bottom: 2px solid; /* Set the border to represent the line */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; 
}